# Python
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
logs/
wandb/
cache/


*.pth
*.pt
*.ckpt

# Hydra
.hydra/
multirun/


.history/