# Python
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
logs/
wandb/
cache/


*.pth
*.pt
*.ckpt

# Hydra
.hydra/
multirun/


.history/
tmpclaude-703e-cwd
.gitignore
old_core_code/
tmpclaude-f4f9-cwd
