# Python
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/
logs/
wandb/
cache/


*.pth
*.pt
*.ckpt

# Hydra
.hydra/
multirun/


.history/
tmpclaude-703e-cwd
tmpclaude-f4f9-cwd
old_core_code/

/data/
/generate_image.py
/pretrained_models/
/test.py
/tmp_output/