defaults:
  - model/combined
  - data/ade20k_c
  - trainer/default
  - _self_

logging:
  experiment_name: tta_sd3_segformer
  project: tta
  enable_wandb: true

hydra:
  run:
    dir: .
  output_subdir: null
